﻿@{
    ViewData["Title"] = "Home Page";
}

<!--Hat-->
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<!--Getting collection of books-->
<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <h2>Get all books</h2>
            <div>
                <button style="font-size: 30px; color: black;" class="btn btn-default" id="getBooks">Get Books</button>
            </div>
            <div>
                <input type="text" class="form-control" id="getBooksResult" />
            </div>
        </div>
    </div>
</div>

<!--Getting only one book-->
<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <h2>Get a Book</h2>
            <div class="form-group">
                <label for="id">Id</label>
                <input type="text" class="form-control" id="id" />
            </div>
            <div>
                <button style="font-size: 30px; color: black;" class="btn btn-default" id="getBook">Get</button>
            </div>
            <div>
                <input type="text" class="form-control" id="getBookResult" />
            </div>
        </div>
    </div>
</div>

<!--Creating one book-->
<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <h2>Create a new Book</h2>
            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" class="form-control" id="name" />
            </div>
            <div class="form-group">
                <label for="author">Author</label>
                <input type="text" class="form-control" id="author" />
            </div>
            <div>
                <button style="font-size: 30px; color: black;" class="btn btn-default" id="create">Create</button>
            </div>
            <div>
                <input type="text" class="form-control" id="postResult" />
            </div>
        </div>
    </div>
</div>

<!--Deleting book-->
<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <h2>Delete a Book</h2>
            <div class="form-group">
                <label for="id">Id</label>
                <input type="text" class="form-control" id="id" />
            </div>
            <div>
                <button style="font-size: 30px; color: black;" class="btn btn-default" id="delete">Delete</button>
            </div>
            <div>
                <input type="text" class="form-control" id="getDeletedResult" />
            </div>
        </div>
    </div>
</div>


@section Scripts {
    <script>

        //Script for deleting(in progress)
        $('#delete').click(function (e) {
            $("#getDeletedResult").val("");
            $.ajax({
                contentType: 'application/json',
                type: "GET",
                url: "api/book",
                success: function (data, textStatus, jqXHR) {
                    //$($("getDeletedResult").val()).detach(); ???
                    data.forEach(function (book) {
                        $("#getDeletedResult").val($("#getDeletedResult").val() + book.name + "|");
                    });
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    $("#getDeletedResult").val(jqXHR.statusText);
                }
            });
        });

        //script on creating
        $('#create').click(function (e) {
            $.ajax({
                contentType: 'application/json',
                type: "POST",
                url: "api/book",
                data: JSON.stringify({
                    name: document.getElementById('name').value,
                    author: document.getElementById('author').value
                }),
                success: function (data, textStatus, jqXHR) {
                    $("#postResult").val("Book created ok. Id=" + jqXHR.responseText);
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    $("#postResult").val(jqXHR.statusText);
                }
            });
        });

        //script on getting one book
        $('#getBook').click(function (e) {
            $("#getBookResult").val("");
            $.ajax({
                contentType: 'application/json',
                type: "GET",
                url: "api/book/" + $("#id").val(),
                success: function (data, textStatus, jqXHR) {
                    $("#getBookResult").val(data.name);
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    $("#getBookResult").val(jqXHR.statusText);
                }
            });
        });

        //script for getting collection of books
        $('#getBooks').click(function (e) {
            $("#getBooksResult").val("");
            $.ajax({
                contentType: 'application/json',
                type: "GET",
                url: "api/book",
                success: function (data, textStatus, jqXHR) {
                    data.forEach(function (book) {
                        $("#getBooksResult").val($("#getBooksResult").val() + book.name + "|");
                    });
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    $("#getBooksResult").val(jqXHR.statusText);
                }
            });
        });
    </script>
}